#sidebar
  @media mq-normal
    flex: 1
    min-width: 256px
  @media mq-mobile
    background-color: color-footer-background
    margin-bottom: -30px
    padding: 10px 0
    text-align: center

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  padding: 10px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc